<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>SB Admin - Bootstrap Admin Template</title>
  <!-- Bootstrap Core CSS -->
  <link href="/statics/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Theme CSS -->
  <link href="/statics/css/sb-admin.css" rel="stylesheet">
  <!-- Custom Fonts -->
  <link href="/statics/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
  <div id="wrapper">
    <!-- Navigation -->
    {{include ('./nav.html')}}
    <!--main-->
    <div id="page-wrapper" style="min-height: 100vh;">
      <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="page-header">Bootstrap Grid</h1>
                <div class="row">
          <div class="col-lg-12 text-center">
            <div class="panel panel-default">
              <div class="panel-body">
                .col-lg-12
              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->

        <div class="row">
          <div class="col-lg-6 text-center">
            <div class="panel panel-default">
              <div class="panel-body">
                .col-lg-6
              </div>
            </div>
          </div>
          <div class="col-lg-6 text-center">
            <div class="panel panel-default">
              <div class="panel-body">
                .col-lg-6
              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->

        <div class="row">
          <div class="col-lg-4 text-center">
            <div class="panel panel-default">
              <div class="panel-body">
                .col-lg-4
              </div>
            </div>
          </div>
          <div class="col-lg-4 text-center">
            <div class="panel panel-default">
              <div class="panel-body">
                .col-lg-4
              </div>
            </div>
          </div>
          <div class="col-lg-4 text-center">
            <div class="panel panel-default">
              <div class="panel-body">
                .col-lg-4
              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->

        <div class="row">
          <div class="col-lg-3 text-center">
            <div class="panel panel-default">
              <div class="panel-body">
                .col-lg-3
              </div>
            </div>
          </div>
          <div class="col-lg-3 text-center">
            <div class="panel panel-default">
              <div class="panel-body">
                .col-lg-3
              </div>
            </div>
          </div>
          <div class="col-lg-3 text-center">
            <div class="panel panel-default">
              <div class="panel-body">
                .col-lg-3
              </div>
            </div>
          </div>
          <div class="col-lg-3 text-center">
            <div class="panel panel-default">
              <div class="panel-body">
                .col-lg-3
              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->

        <div class="row">
          <div class="col-lg-2 text-center">
            <div class="panel panel-default">
              <div class="panel-body">
                .col-lg-2
              </div>
            </div>
          </div>
          <div class="col-lg-2 text-center">
            <div class="panel panel-default">
              <div class="panel-body">
                .col-lg-2
              </div>
            </div>
          </div>
          <div class="col-lg-2 text-center">
            <div class="panel panel-default">
              <div class="panel-body">
                .col-lg-2
              </div>
            </div>
          </div>
          <div class="col-lg-2 text-center">
            <div class="panel panel-default">
              <div class="panel-body">
                .col-lg-2
              </div>
            </div>
          </div>
          <div class="col-lg-2 text-center">
            <div class="panel panel-default">
              <div class="panel-body">
                .col-lg-2
              </div>
            </div>
          </div>
          <div class="col-lg-2 text-center">
            <div class="panel panel-default">
              <div class="panel-body">
                .col-lg-2
              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->

        <div class="row">
          <div class="col-lg-1 text-center">
            <div class="panel panel-default">
              <div class="panel-body">
                .col-lg-1
              </div>
            </div>
          </div>
          <div class="col-lg-1 text-center">
            <div class="panel panel-default">
              <div class="panel-body">
                .col-lg-1
              </div>
            </div>
          </div>
          <div class="col-lg-1 text-center">
            <div class="panel panel-default">
              <div class="panel-body">
                .col-lg-1
              </div>
            </div>
          </div>
          <div class="col-lg-1 text-center">
            <div class="panel panel-default">
              <div class="panel-body">
                .col-lg-1
              </div>
            </div>
          </div>
          <div class="col-lg-1 text-center">
            <div class="panel panel-default">
              <div class="panel-body">
                .col-lg-1
              </div>
            </div>
          </div>
          <div class="col-lg-1 text-center">
            <div class="panel panel-default">
              <div class="panel-body">
                .col-lg-1
              </div>
            </div>
          </div>
          <div class="col-lg-1 text-center">
            <div class="panel panel-default">
              <div class="panel-body">
                .col-lg-1
              </div>
            </div>
          </div>
          <div class="col-lg-1 text-center">
            <div class="panel panel-default">
              <div class="panel-body">
                .col-lg-1
              </div>
            </div>
          </div>
          <div class="col-lg-1 text-center">
            <div class="panel panel-default">
              <div class="panel-body">
                .col-lg-1
              </div>
            </div>
          </div>
          <div class="col-lg-1 text-center">
            <div class="panel panel-default">
              <div class="panel-body">
                .col-lg-1
              </div>
            </div>
          </div>
          <div class="col-lg-1 text-center">
            <div class="panel panel-default">
              <div class="panel-body">
                .col-lg-1
              </div>
            </div>
          </div>
          <div class="col-lg-1 text-center">
            <div class="panel panel-default">
              <div class="panel-body">
                .col-lg-1
              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->

        <div class="row">
          <div class="col-lg-8 text-center">
            <div class="panel panel-default">
              <div class="panel-body">
                .col-lg-8
              </div>
            </div>
          </div>
          <div class="col-lg-4 text-center">
            <div class="panel panel-default">
              <div class="panel-body">
                .col-lg-4
              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->

        <div class="row">
          <div class="col-lg-3 text-center">
            <div class="panel panel-default">
              <div class="panel-body">
                .col-lg-3
              </div>
            </div>
          </div>
          <div class="col-lg-6 text-center">
            <div class="panel panel-default">
              <div class="panel-body">
                .col-lg-6
              </div>
            </div>
          </div>
          <div class="col-lg-3 text-center">
            <div class="panel panel-default">
              <div class="panel-body">
                .col-lg-3
              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
  </div>
  <!-- /#wrapper -->
  <!-- jQuery -->
  <script src="/statics/vendor/jquery/jquery.min.js"></script>
  <!-- Bootstrap Core JavaScript -->
  <script src="/statics/vendor/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
